@import "tailwindcss";

/* ****** Essentials ****** */
@import "../styles/fonts.css";
@import "../styles/root.css";

/* ****** Components ****** */
@layer components {
  /* Logo classes */
  .logo-base {
    @apply tracking-wider flex items-center gap-3 text-base;
  }
  .logo-text {
    @apply text-white font-[var(--font-100)];
  }
  .logo-text-end {
    @apply text-blue-400;
  };
}

/* ****** Baseline ****** */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #000;
  font-family: var(--font-400);
  position: relative;
}
main {
  position: relative;
}