@import 'tailwindcss';
@import './theme/fonts.css';

/* ****************************
* THEME
**************************** */
@theme {
  --spacing: 4px;
  --radius-6xl: 2.5rem;
}

/* ****************************
* BASE LAYER
**************************** */
@layer base {
  * {
    @apply text-white;
    font-family: "Raleway", "sans-serif";
  }

  h1 {
    @apply text-4xl md:text-6xl font-medium leading-12 md:leading-20;
  }
  h2 {
    @apply text-3xl md:text-5xl font-medium;
  }
  h3 {
    @apply text-2xl md:text-3xl font-medium;
  }
  h4 {
    @apply text-xl md:text-2xl font-medium;
  }
  h5 {
    @apply text-xl font-semibold;
  }
  h6 {
    @apply text-lg font-semibold;
  }
  p {
    font-size: 16px;
    font-weight: 400;
  }

  /* *************************************
  * CUSTOM CLASSES
  ************************************* */
  .padding_offset {
    @apply  px-4 xl:px-32 transition-all
  }
}