:root {
  --bgcolor: #0C0C0B;
  --main-bg: #01011f;

  --font-100: font-thin;
  --font-200: font-extralight;
  --font-300: font-light;
  --font-400: font-regular;
  --font-500: font-medium;
  --font-600: font-semibold;
  --font-700: font-bold;
  --font-800: font-extrabold;
  --font-900: font-black;
}

/* ********************************
* BASELINE STYLE
******************************** */
*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: var(--bgcolor);
}